Import libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime  
from datetime import timedelta  
import gc
import pickle
from sklearn import preprocessing, metrics

Helper functions

In [2]:
# this function is taken from https://www.kaggle.com/ragnar123/very-fst-model
def reduce_mem_usage(df, verbose=True):
    '''Reduce memory usage of dataframe by converting ints and floats 
    Args:
        df: dataframe
            
    Returns:
        dataframe with converted columns
    '''
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

Read data

In [3]:
print('Reading files...')
calendar = pd.read_csv('../00_data/calendar.csv')
calendar = reduce_mem_usage(calendar)
print('Calendar has {} rows and {} columns'.format(calendar.shape[0], calendar.shape[1]))
sell_prices = pd.read_csv('../00_data/sell_prices.csv')
sell_prices = reduce_mem_usage(sell_prices)
print('Sell prices has {} rows and {} columns'.format(sell_prices.shape[0], sell_prices.shape[1]))
sales_train_validation = pd.read_csv('../00_data/sales_train_validation.csv')
sales_train_validation = reduce_mem_usage(sales_train_validation)
print('Sales train validation has {} rows and {} columns'.format(sales_train_validation.shape[0], sales_train_validation.shape[1]))
submission = pd.read_csv('../00_data/sample_submission.csv')
submission = reduce_mem_usage(submission)

print('Sample submisson has {} rows and {} columns'.format(submission.shape[0], submission.shape[1]))

Reading files...
Mem. usage decreased to  0.12 Mb (41.9% reduction)
Calendar has 1969 rows and 14 columns
Mem. usage decreased to 130.48 Mb (37.5% reduction)
Sell prices has 6841121 rows and 4 columns
Mem. usage decreased to 95.00 Mb (78.7% reduction)
Sales train validation has 30490 rows and 1919 columns
Mem. usage decreased to  2.09 Mb (84.5% reduction)
Sample submisson has 60980 rows and 29 columns

In [4]:
#sales_train_validation = pd.read_csv('../00_data/sales_train_validation.csv')
#sales_train_validation = reduce_mem_usage(sales_train_validation)

In [5]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [6]:
sell_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325    9.578125
1     CA_1  HOBBIES_1_001     11326    9.578125
2     CA_1  HOBBIES_1_001     11327    8.257812
3     CA_1  HOBBIES_1_001     11328    8.257812
4     CA_1  HOBBIES_1_001     11329    8.257812

In [7]:
sales_train_validation.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [8]:
submission.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We will work with data in long format, for that we reshape sales_train_validation. The reshaped variable is called X. This is our feature matrix.

In [9]:
X = pd.melt(sales_train_validation, id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name = 'd', value_name = 'items_sold')
print('Melted sales train validation has {} rows and {} columns'.format(sales_train_validation.shape[0], sales_train_validation.shape[1]))
X = reduce_mem_usage(X)
X.head()

Melted sales train validation has 30490 rows and 1919 columns
Mem. usage decreased to 3226.27 Mb (0.0% reduction)

,id,item_id,dept_id,cat_id,store_id,state_id,d,items_sold
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0

In [10]:
del sales_train_validation

We want to determine the start of sales date for every product and remove from the X all rows before a product release

Determine  the start of sales date for each item.

In [11]:
start_sales_df = sell_prices.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()
start_sales_df = start_sales_df.rename(columns={"min": "wm_yr_wk"})
start_sales_df.head()

  store_id      item_id  wm_yr_wk
0     CA_1  FOODS_1_001     11101
1     CA_1  FOODS_1_002     11101
2     CA_1  FOODS_1_003     11101
3     CA_1  FOODS_1_004     11206
4     CA_1  FOODS_1_005     11101

For each week we calculate the first day of the week.

In [12]:
start_of_week = calendar.groupby(['wm_yr_wk'])['d','date'].agg(['min']).reset_index()
start_of_week.columns = start_of_week.columns.get_level_values(0)
start_of_week = start_of_week.rename(columns={"d": "start_date_d", "date":"start_date"})

In [13]:
start_of_week.head()

   wm_yr_wk start_date_d  start_date
0     11101          d_1  2011-01-29
1     11102         d_10  2011-02-05
2     11103         d_15  2011-02-12
3     11104         d_22  2011-02-19
4     11105         d_29  2011-02-26

In [14]:
start_sales_df = start_sales_df.merge(start_of_week, on=['wm_yr_wk'], how='left')
start_sales_df.head()

  store_id      item_id  wm_yr_wk start_date_d  start_date
0     CA_1  FOODS_1_001     11101          d_1  2011-01-29
1     CA_1  FOODS_1_002     11101          d_1  2011-01-29
2     CA_1  FOODS_1_003     11101          d_1  2011-01-29
3     CA_1  FOODS_1_004     11206        d_400  2012-03-03
4     CA_1  FOODS_1_005     11101          d_1  2011-01-29

Add date to X.

In [15]:
#X = X.set_index('d').join(calendar[['date', 'd']].set_index('d')).reset_index()
calendar_features = ['date', 'wm_yr_wk', 'weekday', 'month', 'event_name_1', 'event_type_1', 
                      'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'd']
X = X.merge(calendar[calendar_features], on = 'd', how = 'left')

In [16]:
X.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,items_sold,date,wm_yr_wk,weekday,month,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0

In [17]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

Add start date

In [18]:
X = X.merge(start_sales_df[['store_id', 'item_id', 'start_date']], 
                          on=['store_id', 'item_id'], how='left')

In [19]:
#del start_sales_df
X.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,items_sold,date,wm_yr_wk,weekday,month,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,start_date
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0,2013-07-13
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0,2011-06-18
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0,2014-02-01
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0,2011-03-05
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,Saturday,1,NaN,NaN,NaN,NaN,0,0,0,2011-05-21

Convert strings to datetime

In [20]:
X['date']= pd.to_datetime(X['date']) 
X['start_date']= pd.to_datetime(X['start_date']) 
calendar['date'] =  pd.to_datetime(calendar['date'])

Delete rows before start date itemwise

In [21]:
X = X.drop(X[X.date < X.start_date].index)

# Feature engineering

## Trends

Add weekday, month and SNAP days to X. Add the number of days from the begining of sales and from the first date in the dataset.

In [22]:
X.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'items_sold', 'date', 'wm_yr_wk', 'weekday', 'month', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'start_date'],
      dtype='object')

In [23]:
first_day = pd.Timestamp(X['date'].values.min())
last_day =  pd.Timestamp(X['date'].values.max())

In [24]:
X['days_from_start'] = X['date'] - first_day
X['days_from_start'] = X['days_from_start'].dt.days

In [25]:
X['start_date_from_start'] = X['start_date'] - first_day
X['start_date_from_start'] = X['start_date_from_start'].dt.days

In [26]:
X = X.merge(sell_prices, on = ['store_id', 'item_id', 'wm_yr_wk'], how = 'left')

In [27]:
X.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,items_sold,date,wm_yr_wk,...,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,start_date,days_from_start,start_date_from_start,sell_price
0,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,d_1,12,2011-01-29,11101,...,NaN,NaN,NaN,0,0,0,2011-01-29,0,0,0.459961
1,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,2011-01-29,11101,...,NaN,NaN,NaN,0,0,0,2011-01-29,0,0,1.559570
2,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,NaN,NaN,NaN,0,0,0,2011-01-29,0,0,3.169922
3,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,NaN,NaN,NaN,0,0,0,2011-01-29,0,0,5.980469
4,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,d_1,4,2011-01-29,11101,...,NaN,NaN,NaN,0,0,0,2011-01-29,0,0,0.700195

## Min, max, etc..

# Sales pattern

## Aggregations

Add everage sales per week per item, per month per item and simply average sales per item. Add maximum items sold.

In [28]:
X['avg_weekday_demand'] = X.groupby(['id', 'weekday'])['items_sold'].transform('mean') 
X['avg_month_demand'] = X.groupby(['id', 'month'])['items_sold'].transform('mean') 
X['avg_demand'] =  X.groupby(['id'])['items_sold'].transform('mean') 
X['median_weekday_demand'] = X.groupby(['id', 'weekday'])['items_sold'].transform('median') 
X['median_month_demand'] = X.groupby(['id', 'month'])['items_sold'].transform('median') 
X['median_demand'] =  X.groupby(['id'])['items_sold'].transform('mean') 
X['max_demand'] =  X.groupby(['id'])['items_sold'].transform('max')

Add average price per item

In [29]:
X['avg_price'] = X.groupby(['id'])['sell_price'].transform('mean') 
X['cheaper_than_usual'] = ( X['sell_price'] < X['avg_price'])

In [30]:
X = X.drop(columns = ['d'])

In [31]:
X.head()

,id,item_id,dept_id,cat_id,store_id,state_id,items_sold,date,wm_yr_wk,weekday,...,sell_price,avg_weekday_demand,avg_month_demand,avg_demand,median_weekday_demand,median_month_demand,median_demand,max_demand,avg_price,cheaper_than_usual
0,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,12,2011-01-29,11101,Saturday,...,0.459961,8.613139,8.500000,7.229482,6.0,6.0,7.229482,91,0.476074,True
1,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,1.559570,1.521898,1.196203,1.186095,1.0,0.0,1.186095,20,1.763672,True
2,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,3.169922,0.799270,0.696203,0.719289,0.5,0.0,0.719289,6,2.982422,False
3,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,5.980469,0.492701,0.341772,0.394145,0.0,0.0,0.394145,3,6.468750,True
4,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,4,2011-01-29,11101,Saturday,...,0.700195,8.642336,5.575949,6.064820,7.0,4.0,6.064820,83,0.707031,True

Prepare test set.

In [32]:
test1_rows = [row for row in submission['id'] if 'validation' in row]
test2_rows = [row for row in submission['id'] if 'evaluation' in row]
test1 = submission[submission['id'].isin(test1_rows)]
test2 = submission[submission['id'].isin(test2_rows)]

In [33]:
test_dates = calendar.loc[1913:1940, 'date']
column_names = test_dates.dt.strftime('%Y-%m-%d').to_list()
column_names.insert(0,'id' )
test1.columns = column_names

In [34]:
test1 = pd.melt(test1, id_vars = ['id'], var_name = 'date')
test1 = test1.drop(columns = 'value')
test1['date'] =  pd.to_datetime(test1['date']) 
test1.head()

                              id       date
0  HOBBIES_1_001_CA_1_validation 2016-04-25
1  HOBBIES_1_002_CA_1_validation 2016-04-25
2  HOBBIES_1_003_CA_1_validation 2016-04-25
3  HOBBIES_1_004_CA_1_validation 2016-04-25
4  HOBBIES_1_005_CA_1_validation 2016-04-25

In [35]:
test1 = test1.merge(calendar[calendar_features], on = 'date', how = 'left')
test1 = test1.fillna("no event")
test1.head()

,id,date,wm_yr_wk,weekday,month,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,d
0,HOBBIES_1_001_CA_1_validation,2016-04-25,11613,Monday,4,no event,no event,no event,no event,0,0,0,d_1914
1,HOBBIES_1_002_CA_1_validation,2016-04-25,11613,Monday,4,no event,no event,no event,no event,0,0,0,d_1914
2,HOBBIES_1_003_CA_1_validation,2016-04-25,11613,Monday,4,no event,no event,no event,no event,0,0,0,d_1914
3,HOBBIES_1_004_CA_1_validation,2016-04-25,11613,Monday,4,no event,no event,no event,no event,0,0,0,d_1914
4,HOBBIES_1_005_CA_1_validation,2016-04-25,11613,Monday,4,no event,no event,no event,no event,0,0,0,d_1914

In [36]:
X = reduce_mem_usage(X)
#feather.write_dataframe(X, "../01_preprocessed_data/X.feather")
#del X
gc.collect()

Mem. usage decreased to 6277.08 Mb (25.1% reduction)

119

In [37]:
#temp = X[['id',   'weekday', 'month', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'start_date', 'start_date_from_start',
#             'avg_weekday', 'avg_month', 'avg_price']].drop_duplicates()
temp = X[['id',  'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'median_demand', 'max_demand',
          'start_date', 'start_date_from_start', 'avg_price', 'avg_demand']].drop_duplicates()
test1 = test1.merge(temp, on = ['id'], how = 'left')
test1['item_id'].unique()

array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
       'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object)

In [38]:
test1 = test1.merge(sell_prices, on = ['store_id', 'item_id', 'wm_yr_wk'], how = 'left')

In [39]:
test1['days_from_start'] = test1['date'] - first_day
test1['days_from_start'] = test1['days_from_start'].dt.days

In [40]:
test1['items_sold'] = 0

In [41]:
temp = X[['id',  'weekday', 'avg_weekday_demand', 'median_weekday_demand']].drop_duplicates()
test1 = test1.merge(temp, on = ['id', 'weekday'], how = 'left')
test1['item_id'].unique()

array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
       'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object)

In [42]:
temp = X[['id',   'month', 'avg_month_demand', 'median_month_demand']].drop_duplicates()
test1 = test1.merge(temp, on = ['id', 'month'], how = 'left')

In [47]:
test1.loc[test1['avg_month_demand'].isna(), 'avg_month_demand'] = test1['avg_weekday_demand'][test1['avg_month_demand'].isna()]
test1.loc[test1['median_month_demand'].isna(), 'median_month_demand'] = test1['median_weekday_demand'][test1['median_month_demand'].isna()]

In [48]:
test1['cheaper_than_usual'] = ( test1['sell_price'] < test1['avg_price'])
X.columns[~X.columns.isin(test1.columns)]

Index([], dtype='object')

In [49]:
test1[test1.isna().any(axis=1)]

Empty DataFrame
Columns: [id, date, wm_yr_wk, weekday, month, event_name_1, event_type_1, event_name_2, event_type_2, snap_CA, snap_TX, snap_WI, d, item_id, dept_id, cat_id, store_id, state_id, median_demand, max_demand, start_date, start_date_from_start, avg_price, avg_demand, sell_price, days_from_start, items_sold, avg_weekday_demand, median_weekday_demand, avg_month_demand, median_month_demand, cheaper_than_usual]
Index: []

[0 rows x 32 columns]

In [50]:
test1 = test1.drop(columns='d')
test1 = test1[X.columns]

In [51]:
X.columns[~X.columns.isin(test1.columns)]

Index([], dtype='object')

In [52]:
last_X_day = X.date.values.max()

In [53]:
X = pd.concat([X, test1], axis = 0)

In [54]:
events = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
X[events] = X[events].fillna(value='no event')

In [55]:
X['lag_t28'] = X.groupby(['id'])['items_sold'].transform(lambda x: x.shift(28))
X['lag_t29'] = X.groupby(['id'])['items_sold'].transform(lambda x: x.shift(29))
X['lag_t30'] = X.groupby(['id'])['items_sold'].transform(lambda x: x.shift(30))

In [56]:
del test1

In [57]:
X[X.isna().any(axis=1)]

,id,item_id,dept_id,cat_id,store_id,state_id,items_sold,date,wm_yr_wk,weekday,...,avg_demand,median_weekday_demand,median_month_demand,median_demand,max_demand,avg_price,cheaper_than_usual,lag_t28,lag_t29,lag_t30
0,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,12,2011-01-29,11101,Saturday,...,7.230469,6.0,6.0,7.230469,91,0.476074,True,NaN,NaN,NaN
1,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,1.186523,1.0,0.0,1.186523,20,1.763672,True,NaN,NaN,NaN
2,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.719238,0.5,0.0,0.719238,6,2.982422,False,NaN,NaN,NaN
3,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.394043,0.0,0.0,0.394043,3,6.468750,True,NaN,NaN,NaN
4,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,4,2011-01-29,11101,Saturday,...,6.066406,7.0,4.0,6.066406,83,0.707031,True,NaN,NaN,NaN
5,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,5,2011-01-29,11101,Saturday,...,5.527344,5.0,2.0,5.527344,90,0.707031,True,NaN,NaN,NaN
6,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,0.341309,0.0,0.0,0.341309,5,7.140625,True,NaN,NaN,NaN
7,HOBBIES_1_023_CA_1_validation,HOBBIES_1_023,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,1.123047,1.0,0.0,1.123047,8,3.416016,False,NaN,NaN,NaN
8,HOBBIES_1_028_CA_1_validation,HOBBIES_1_028,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.701172,0.0,0.0,0.701172,5,7.656250,True,NaN,NaN,NaN
9,HOBBIES_1_029_CA_1_validation,HOBBIES_1_029,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,1.470703,2.0,1.0,1.470703,11,8.312500,True,NaN,NaN,NaN
10,HOBBIES_1_032_CA_1_validation,HOBBIES_1_032,HOBBIES_1,HOBBIES,CA_1,CA,9,2011-01-29,11101,Saturday,...,5.562500,4.0,2.0,5.562500,72,0.564453,True,NaN,NaN,NaN
11,HOBBIES_1_036_CA_1_validation,HOBBIES_1_036,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,0.642090,0.0,0.0,0.642090,12,1.061523,True,NaN,NaN,NaN
12,HOBBIES_1_038_CA_1_validation,HOBBIES_1_038,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.395264,0.0,0.0,0.395264,4,3.210938,True,NaN,NaN,NaN
13,HOBBIES_1_044_CA_1_validation,HOBBIES_1_044,HOBBIES_1,HOBBIES,CA_1,CA,3,2011-01-29,11101,Saturday,...,0.952148,1.0,0.0,0.952148,9,1.481445,False,NaN,NaN,NaN
14,HOBBIES_1_047_CA_1_validation,HOBBIES_1_047,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,Saturday,...,1.166992,1.0,0.0,1.166992,21,1.764648,True,NaN,NaN,NaN
15,HOBBIES_1_050_CA_1_validation,HOBBIES_1_050,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,0.935059,1.0,1.0,0.935059,7,10.585938,True,NaN,NaN,NaN
16,HOBBIES_1_055_CA_1_validation,HOBBIES_1_055,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,1.674805,2.0,1.0,1.674805,11,8.312500,True,NaN,NaN,NaN
17,HOBBIES_1_058_CA_1_validation,HOBBIES_1_058,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,Saturday,...,0.447510,0.0,0.0,0.447510,6,8.414062,True,NaN,NaN,NaN
18,HOBBIES_1_061_CA_1_validation,HOBBIES_1_061,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,Saturday,...,0.302734,0.0,0.0,0.302734,6,2.802734,True,NaN,NaN,NaN
19,HOBBIES_1_063_CA_1_validation,HOBBIES_1_063,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.179810,0.0,0.0,0.179810,4,5.367188,True,NaN,NaN,NaN
20,HOBBIES_1_067_CA_1_validation,HOBBIES_1_067,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,5.187500,2.0,2.0,5.187500,81,0.564453,True,NaN,NaN,NaN
21,HOBBIES_1_068_CA_1_validation,HOBBIES_1_068,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,Saturday,...,0.938965,1.0,0.0,0.938965,7,7.042969,True,NaN,NaN,NaN
22,HOBBIES_1_075_CA_1_validation,HOBBIES_1_075,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.583984,0.0,0.0,0.583984,8,7.042969,True,NaN,NaN,NaN
23,HOBBIES_1_076_CA_1_validation,HOBBIES_1_076,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.590820,0.0,0.0,0.590820,11,3.265625,True,NaN,NaN,NaN
24,HOBBIES_1_078_CA_1_validation,HOBBIES_1_078,HOBBIES_1,HOBBIES,CA_1,CA,5,2011-01-29,11101,Saturday,...,1.949219,1.0,2.0,1.949219,11,12.453125,True,NaN,NaN,NaN
25,HOBBIES_1_079_CA_1_validation,HOBBIES_1_079,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,Saturday,...,1.052734,1.0,1.0,1.052734,10,8.070312,False,NaN,NaN,NaN
26,HOBBIES_1_080_CA_1_validation,HOBBIES_1_080,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,3.433594,1.0,1.0,3.433594,66,0.564453,True,NaN,NaN,NaN
27,HOBBIES_1_082_CA_1_validation,HOBBIES_1_082,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,Saturday,...,0.138062,0.0,0.0,0.138062,4,3.779297,False,NaN,NaN,NaN
28,HOBBIES_1_084_CA_1_validation,HOBBIES_1_084,HOBBIES_1,HOBBIES,CA_1,CA,4,2011-01-29,11101,Saturday,...,0.865723,1.0,0.0,0.865723,6,4.222656,True,NaN,NaN,NaN
29,HOBBIES_1_086_CA_1_validation,HOBBIES_1_086,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,Saturday,...,1.061523,1.0,1.0,1.061523,8,8.273438,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44629426,HOUSEHOLD_1_405_CA_2_validation,HOUSEHOLD_1_405,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,3,2016-03-10,11606,Thursday,...,1.708008,0.0,1.0,1.708008,5,2.980469,False,NaN,NaN,NaN
44632351,HOUSEHOLD_1_278_CA_3_validation,HOUSEHOLD_1_278,HOUSEHOLD_1,HOUSEHOLD,CA_3,CA,0,2016-03-10,11606,Thursday,...,0.652832,0.0,0.0,0.652832,3,5.968750,False,NaN,NaN,NaN
44634334,FOODS_3_595_CA_3_validation,FOODS_3_595,FOODS_3,FOODS,CA_3,CA,1,2016-03-10,11606,Thursday,...,1.222656,1.5,1.0,1.222656,5,1.980469,False,NaN,NaN,NaN
44635519,HOUSEHOLD_1_400_CA_4_validation,HOUSEHOLD_1_400,HOUSEHOLD_1,HOUSEHOLD,CA_4,CA,0,2016-03-10,11606,Thursday,...,0.305664,0.0,0.0,0.305664,3,6.968750,False,NaN,NaN,NaN
44647703,HOUSEHOLD_1_386_WI_1_validation,HOUSEHOLD_1_386,HOUSEHOLD_1,HOUSEHOLD,WI_1,WI,2,2016-03-10,11606,Thursday,...,1.500000,1.0,1.0,1.500000,5,2.960938,False,NaN,NaN,NaN
44650393,HOUSEHOLD_1_020_WI_2_validation,HOUSEHOLD_1_020,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,2,2016-03-10,11606,Thursday,...,1.361328,0.0,1.0,1.361328,7,6.968750,False,NaN,NaN,NaN
44658726,FOODS_3_595_CA_1_validation,FOODS_3_595,FOODS_3,FOODS,CA_1,CA,2,2016-03-11,11606,Friday,...,1.138672,1.5,1.0,1.138672,5,1.980469,False,NaN,NaN,NaN
44659825,HOUSEHOLD_1_311_CA_2_validation,HOUSEHOLD_1_311,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,1,2016-03-11,11606,Friday,...,1.736328,1.0,1.0,1.736328,6,3.880859,False,NaN,NaN,NaN
44659916,HOUSEHOLD_1_405_CA_2_validation,HOUSEHOLD_1_405,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,0,2016-03-11,11606,Friday,...,1.708008,1.0,1.0,1.708008,5,2.980469,False,NaN,NaN,NaN
44662841,HOUSEHOLD_1_278_CA_3_validation,HOUSEHOLD_1_278,HOUSEHOLD_1,HOUSEHOLD,CA_3,CA,2,2016-03-11,11606,Friday,...,0.652832,1.0,0.0,0.652832,3,5.968750,False,NaN,NaN,NaN
44664824,FOODS_3_595_CA_3_validation,FOODS_3_595,FOODS_3,FOODS,CA_3,CA,1,2016-03-11,11606,Friday,...,1.222656,0.0,1.0,1.222656,5,1.980469,False,NaN,NaN,NaN
44666009,HOUSEHOLD_1_400_CA_4_validation,HOUSEHOLD_1_400,HOUSEHOLD_1,HOUSEHOLD,CA_4,CA,0,2016-03-11,11606,Friday,...,0.305664,0.0,0.0,0.305664,3,6.968750,False,NaN,NaN,NaN
44678193,HOUSEHOLD_1_386_WI_1_validation,HOUSEHOLD_1_386,HOUSEHOLD_1,HOUSEHOLD,WI_1,WI,3,2016-03-11,11606,Friday,...,1.500000,1.0,1.0,1.500000,5,2.960938,False,NaN,NaN,NaN
44680883,HOUSEHOLD_1_020_WI_2_validation,HOUSEHOLD_1_020,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,1,2016-03-11,11606,Friday,...,1.361328,1.0,1.0,1.361328,7,6.968750,False,NaN,NaN,NaN
44689216,FOODS_3_595_CA_1_validation,FOODS_3_595,FOODS_3,FOODS,CA_1,CA,1,2016-03-12,11607,Saturday,...,1.138672,1.0,1.0,1.138672,5,1.980469,False,0.0,NaN,NaN
44690315,HOUSEHOLD_1_311_CA_2_validation,HOUSEHOLD_1_311,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,3,2016-03-12,11607,Saturday,...,1.736328,3.0,1.0,1.736328,6,3.880859,False,0.0,NaN,NaN
44690406,HOUSEHOLD_1_405_CA_2_validation,HOUSEHOLD_1_405,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,5,2016-03-12,11607,Saturday,...,1.708008,2.0,1.0,1.708008,5,2.980469,False,0.0,NaN,NaN
44693331,HOUSEHOLD_1_278_CA_3_validation,HOUSEHOLD_1_278,HOUSEHOLD_1,HOUSEHOLD,CA_3,CA,1,2016-03-12,11607,Saturday,...,0.652832,1.0,0.0,0.652832,3,5.968750,False,1.0,NaN,NaN
44695314,FOODS_3_595_CA_3_validation,FOODS_3_595,FOODS_3,FOODS,CA_3,CA,4,2016-03-12,11607,Saturday,...,1.222656,1.0,1.0,1.222656,5,1.980469,False,0.0,NaN,NaN
44696499,HOUSEHOLD_1_400_CA_4_validation,HOUSEHOLD_1_400,HOUSEHOLD_1,HOUSEHOLD,CA_4,CA,0,2016-03-12,11607,Saturday,...,0.305664,0.0,0.0,0.305664,3,6.968750,False,0.0,NaN,NaN
44708683,HOUSEHOLD_1_386_WI_1_validation,HOUSEHOLD_1_386,HOUSEHOLD_1,HOUSEHOLD,WI_1,WI,2,2016-03-12,11607,Saturday,...,1.500000,2.0,1.0,1.500000,5,2.960938,False,3.0,NaN,NaN
44711373,HOUSEHOLD_1_020_WI_2_validation,HOUSEHOLD_1_020,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,1,2016-03-12,11607,Saturday,...,1.361328,1.0,1.0,1.361328,7,6.968750,False,0.0,NaN,NaN
44719706,FOODS_3_595_CA_1_validation,FOODS_3_595,FOODS_3,FOODS,CA_1,CA,3,2016-03-13,11607,Sunday,...,1.138672,1.0,1.0,1.138672,5,1.980469,False,0.0,0.0,NaN
44720805,HOUSEHOLD_1_311_CA_2_validation,HOUSEHOLD_1_311,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,2,2016-03-13,11607,Sunday,...,1.736328,2.0,1.0,1.736328,6,3.880859,False,3.0,0.0,NaN
44720896,HOUSEHOLD_1_405_CA_2_validation,HOUSEHOLD_1_405,HOUSEHOLD_1,HOUSEHOLD,CA_2,CA,0,2016-03-13,11607,Sunday,...,1.708008,3.0,1.0,1.708008,5,2.980469,False,0.0,0.0,NaN
44723821,HOUSEHOLD_1_278_CA_3_validation,HOUSEHOLD_1_278,HOUSEHOLD_1,HOUSEHOLD,CA_3,CA,3,2016-03-13,11607,Sunday,...,0.652832,0.0,0.0,0.652832,3,5.968750,False,0.0,1.0,NaN
44725804,FOODS_3_595_CA_3_validation,FOODS_3_595,FOODS_3,FOODS,CA_3,CA,0,2016-03-13,11607,Sunday,...,1.222656,1.0,1.0,1.222656,5,1.980469,False,0.0,0.0,NaN
44726989,HOUSEHOLD_1_400_CA_4_validation,HOUSEHOLD_1_400,HOUSEHOLD_1,HOUSEHOLD,CA_4,CA,0,2016-03-13,11607,Sunday,...,0.305664,0.0,0.0,0.305664,3,6.968750,False,0.0,0.0,NaN
44739173,HOUSEHOLD_1_386_WI_1_validation,HOUSEHOLD_1_386,HOUSEHOLD_1,HOUSEHOLD,WI_1,WI,4,2016-03-13,11607,Sunday,...,1.500000,1.0,1.0,1.500000,5,2.960938,False,2.0,3.0,NaN
44741863,HOUSEHOLD_1_020_WI_2_validation,HOUSEHOLD_1_020,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,4,2016-03-13,11607,Sunday,...,1.361328,1.0,1.0,1.361328,7,6.968750,False,0.0,0.0,NaN

Encode labels

In [58]:
X['event_name_1'].unique()

array(['no event', 'SuperBowl', 'ValentinesDay', 'PresidentsDay',
       'LentStart', 'LentWeek2', 'StPatricksDay', 'Purim End',
       'OrthodoxEaster', 'Pesach End', 'Cinco De Mayo', "Mother's day",
       'MemorialDay', 'NBAFinalsStart', 'NBAFinalsEnd', "Father's day",
       'IndependenceDay', 'Ramadan starts', 'Eid al-Fitr', 'LaborDay',
       'ColumbusDay', 'Halloween', 'EidAlAdha', 'VeteransDay',
       'Thanksgiving', 'Christmas', 'Chanukah End', 'NewYear',
       'OrthodoxChristmas', 'MartinLutherKingDay', 'Easter'], dtype=object)

In [59]:
X = X.drop(columns = ['wm_yr_wk'])
X = X.dropna()

In [60]:
cat = ['weekday', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'event_name_1', 'event_type_1',
       'event_name_2', 'event_type_2']
for feature in cat:
    print(feature)
    encoder = preprocessing.LabelEncoder()
    X[feature] = encoder.fit_transform(X[feature])

weekday
item_id
dept_id
cat_id
store_id
state_id
event_name_1
event_type_1
event_name_2
event_type_2

# From train, validation, and test datasets

Split X into X_train and X_val

In [61]:
n_days = last_day-first_day
n_days = n_days.days
val_size = 0.05
n_val_days = 2*28# round(n_days*val_size)

In [62]:
print("n_val_days {}".format(n_val_days))

n_val_days 56

In [63]:
first_val_day = first_day + timedelta(days = n_days - n_val_days + 1)
first_val_day

Timestamp('2016-02-29 00:00:00')

In [64]:
X_train = X[X['date'] < first_val_day]
y_train = X_train[['items_sold']]
X_val = X[(X['date'] >= first_val_day) & (X['date'] <= last_X_day)]
y_val = X_val[['items_sold']]
X_test = X[X['date'] > last_X_day]

In [65]:
X_train = X_train.drop(columns = ['items_sold'])
X_val = X_val.drop(columns = ['items_sold'])

In [66]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(43405929, 32)
(1707328, 32)
(853720, 33)

In [67]:
#X_train = X_train.drop(columns = ['wm_yr_wk'])
#X_val = X_val.drop(columns = ['wm_yr_wk'])
#X_test = X_test.drop(columns = ['wm_yr_wk'])

Form test dataset

In [68]:
X_test = reduce_mem_usage(X_test)
X_train = reduce_mem_usage(X_train)
X_val = reduce_mem_usage(X_val)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Mem. usage decreased to 62.69 Mb (56.5% reduction)
Mem. usage decreased to 3146.03 Mb (55.0% reduction)
Mem. usage decreased to 123.75 Mb (55.0% reduction)

Save datasets

In [69]:
X_val.to_pickle("../01_preprocessed_data/X_val.pkl")
y_val.to_pickle("../01_preprocessed_data/y_val.pkl")
del X_val, y_val

In [70]:
X_test.to_pickle("../01_preprocessed_data/X_test.pkl")
del X_test

In [71]:
calendar.to_pickle("../01_preprocessed_data/calendar.pkl")

In [72]:
X_train.to_pickle("../01_preprocessed_data/X_train.pkl")
y_train.to_pickle("../01_preprocessed_data/y_train.pkl")
del X_train, y_train