# Data preparation

In this notebook we preprocess our data for ML algorithms and create new features.

## Load and reshape data

Import libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime  
from datetime import timedelta  
import gc
import pickle
from sklearn import preprocessing, metrics
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Helper functions

In [0]:
# this function is taken from https://www.kaggle.com/ragnar123/very-fst-model
def reduce_mem_usage(df, verbose=True):
    '''Reduce memory usage of dataframe by converting ints and floats 
    Args:
        df: dataframe
            
    Returns:
        dataframe with converted columns
    '''
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

Read data.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
print('Reading files...')
data_folder = '/content/drive/My Drive/Kaggle_M5/00_data/'
data_location = data_folder + 'calendar.csv'
calendar = pd.read_csv(data_location)
calendar = reduce_mem_usage(calendar)
print('Calendar has {} rows and {} columns'.format(calendar.shape[0], calendar.shape[1]))

data_location = data_folder + 'sell_prices.csv'
sell_prices = pd.read_csv(data_location)
sell_prices = reduce_mem_usage(sell_prices)
print('Sell prices has {} rows and {} columns'.format(sell_prices.shape[0], sell_prices.shape[1]))

data_location = data_folder + 'sales_train_validation.csv'
sales_train_validation = pd.read_csv(data_location)
sales_train_validation = reduce_mem_usage(sales_train_validation)
print('Sales train validation has {} rows and {} columns'.format(sales_train_validation.shape[0], sales_train_validation.shape[1]))

data_location = data_folder + 'sample_submission.csv'
submission = pd.read_csv(data_location)
submission = reduce_mem_usage(submission)
print('Sample submisson has {} rows and {} columns'.format(submission.shape[0], submission.shape[1]))

Reading files...
Mem. usage decreased to  0.12 Mb (41.9% reduction)
Calendar has 1969 rows and 14 columns
Mem. usage decreased to 130.48 Mb (37.5% reduction)
Sell prices has 6841121 rows and 4 columns
Mem. usage decreased to 95.00 Mb (78.7% reduction)
Sales train validation has 30490 rows and 1919 columns
Mem. usage decreased to  2.09 Mb (84.5% reduction)
Sample submisson has 60980 rows and 29 columns

In [5]:
calendar.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [6]:
sell_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325    9.578125
1     CA_1  HOBBIES_1_001     11326    9.578125
2     CA_1  HOBBIES_1_001     11327    8.257812
3     CA_1  HOBBIES_1_001     11328    8.257812
4     CA_1  HOBBIES_1_001     11329    8.257812

In [7]:
sales_train_validation.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [8]:
submission.head()

                              id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0  HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1  HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2  HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3  HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4  HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0

[5 rows x 29 columns]

We will work with data in long format, therefore we reshape sales_train_validation. The reshaped variable is called X. This is our feature matrix.

In [9]:
X = pd.melt(sales_train_validation, id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name = 'd', value_name = 'demand')
print('Melted sales train validation has {} rows and {} columns'.format(X.shape[0], X.shape[1]))
X = reduce_mem_usage(X)
X.head()

Melted sales train validation has 58327370 rows and 8 columns
Mem. usage decreased to 3226.27 Mb (0.0% reduction)

                              id        item_id  ...    d demand
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...  d_1      0
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...  d_1      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...  d_1      0
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...  d_1      0
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...  d_1      0

[5 rows x 8 columns]

In [0]:
del sales_train_validation

'demand' is the target variable. How many zeros does it have?

In [11]:
np.mean(X['demand'] == 0)

0.6819627560783214

Convert strings to datetime

In [0]:
calendar['date'] =  pd.to_datetime(calendar['date'])

## Add test set

In [0]:
validiation_rows = [row for row in submission['id'] if 'validation' in row]
validiation = submission[submission['id'].isin(validiation_rows)]

In [14]:
validiation.head()

                              id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0  HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1  HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2  HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3  HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4  HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0

[5 rows x 29 columns]

In [0]:
test_d = calendar.loc[1913:1940, 'd']
column_names = test_d.to_list()
column_names.insert(0,'id' )
validiation.columns = column_names

In [16]:
validiation = pd.melt(validiation, id_vars = ['id'], var_name = 'd')
validiation = validiation.drop(columns = 'value')
validiation.tail()

                                 id       d
853715  FOODS_3_823_WI_3_validation  d_1941
853716  FOODS_3_824_WI_3_validation  d_1941
853717  FOODS_3_825_WI_3_validation  d_1941
853718  FOODS_3_826_WI_3_validation  d_1941
853719  FOODS_3_827_WI_3_validation  d_1941

In [0]:
temp = X[['id',  'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']].drop_duplicates()
validiation = validiation.merge(temp, on = ['id'], how = 'left')

In [18]:
del temp
validiation.head()

                              id       d  ... store_id state_id
0  HOBBIES_1_001_CA_1_validation  d_1914  ...     CA_1       CA
1  HOBBIES_1_002_CA_1_validation  d_1914  ...     CA_1       CA
2  HOBBIES_1_003_CA_1_validation  d_1914  ...     CA_1       CA
3  HOBBIES_1_004_CA_1_validation  d_1914  ...     CA_1       CA
4  HOBBIES_1_005_CA_1_validation  d_1914  ...     CA_1       CA

[5 rows x 7 columns]

In [19]:
X = reduce_mem_usage(X)
gc.collect()

Mem. usage decreased to 3226.27 Mb (0.0% reduction)

66

In [0]:
validiation['demand'] = 0
validiation = validiation[X.columns]

In [21]:
validiation.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'demand'],
      dtype='object')

In [0]:
X = pd.concat([X, validiation], axis = 0)

Add features from calendar to X based on date.

In [0]:
#X = X.set_index('d').join(calendar[['date', 'd']].set_index('d')).reset_index()
calendar_features = ['date', 'wm_yr_wk', 'weekday', 'month', 'event_name_1', 'event_type_1', 'year',
                      'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'd']
X = X.merge(calendar[calendar_features], on = 'd', how = 'left')

In [0]:
X['date']= pd.to_datetime(X['date'])

## Fill NA in events

In [25]:
X = reduce_mem_usage(X)

Mem. usage decreased to 6885.62 Mb (4.7% reduction)

In [0]:
events = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
X[events] = X[events].fillna(value='no event')

In [27]:
X.head()

                              id        item_id  ... snap_TX snap_WI
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...       0       0
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...       0       0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...       0       0
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...       0       0
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...       0       0

[5 rows x 20 columns]

## Feature engineering

### Features from data

The data contains categorial variables 'id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'. We will use the variable 'd' to add calendar data to X.

### Remove rows before  release date

We want to determine the start of sales date for every product and remove all rows  from  X before a product release.

Determine  the start of sales date for each item.

In [28]:
start_sales_df = sell_prices.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()
start_sales_df = start_sales_df.rename(columns={"min": "wm_yr_wk"})
start_sales_df.head()

  store_id      item_id  wm_yr_wk
0     CA_1  FOODS_1_001     11101
1     CA_1  FOODS_1_002     11101
2     CA_1  FOODS_1_003     11101
3     CA_1  FOODS_1_004     11206
4     CA_1  FOODS_1_005     11101

For each week we calculate the first day of the week.

In [29]:
start_of_week = calendar.groupby(['wm_yr_wk'])['d','date'].agg(['min']).reset_index()
start_of_week.columns = start_of_week.columns.get_level_values(0)
start_of_week = start_of_week.rename(columns={"d": "start_date_d", "date":"start_date"})
start_of_week.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

   wm_yr_wk start_date_d start_date
0     11101          d_1 2011-01-29
1     11102         d_10 2011-02-05
2     11103         d_15 2011-02-12
3     11104         d_22 2011-02-19
4     11105         d_29 2011-02-26

In [0]:
start_sales_df = start_sales_df.merge(start_of_week, on=['wm_yr_wk'], how='left')
del start_of_week

Add start date of sales to X.

In [35]:
X = reduce_mem_usage(X)

Mem. usage decreased to 3105.76 Mb (0.0% reduction)

In [0]:
X = X.merge(start_sales_df[['store_id', 'item_id', 'start_date']],  on=['store_id', 'item_id'], how='left')

In [0]:
categorical_features = ['id', 'weekday', 'month' ,'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 
                        'event_name_1', 'event_type_1',  'event_name_2', 'event_type_2']
for c in categorical_features:
    col_type = X[c].dtype
    if col_type == 'object' or col_type.name == 'category':
        X[c] = X[c].astype('category')

Delete rows before start date itemwise. Convert strings to datetime.

In [0]:
X = X[X.date >= X.start_date]

In [0]:
X['date']= pd.to_datetime(X['date']) 
X['start_date']= pd.to_datetime(X['start_date']) 
calendar['date'] =  pd.to_datetime(calendar['date'])

In [39]:
X.head()

                               id        item_id  ... snap_WI start_date
7   HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...       0 2011-01-29
8   HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...       0 2011-01-29
9   HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...       0 2011-01-29
11  HOBBIES_1_012_CA_1_validation  HOBBIES_1_012  ...       0 2011-01-29
14  HOBBIES_1_015_CA_1_validation  HOBBIES_1_015  ...       0 2011-01-29

[5 rows x 21 columns]

### Trends

Add the number of days from the begining of sales and from the first date in the dataset.

In [0]:
first_day = pd.Timestamp(X['date'].values.min())
last_day =  pd.Timestamp(X['date'].values.max())

In [0]:
X['days_from_start'] = X['date'] - first_day
X['days_from_start'] = X['days_from_start'].dt.days

In [0]:
X['start_date_from_start'] = X['start_date'] - first_day
X['start_date_from_start'] = X['start_date_from_start'].dt.days

In [0]:
X = X.merge(sell_prices, on = ['store_id', 'item_id', 'wm_yr_wk'], how = 'left')

In [44]:
X.head()

                              id  ... sell_price
0  HOBBIES_1_008_CA_1_validation  ...   0.459961
1  HOBBIES_1_009_CA_1_validation  ...   1.559570
2  HOBBIES_1_010_CA_1_validation  ...   3.169922
3  HOBBIES_1_012_CA_1_validation  ...   5.980469
4  HOBBIES_1_015_CA_1_validation  ...   0.700195

[5 rows x 24 columns]

In [45]:
X[X.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, item_id, dept_id, cat_id, store_id, state_id, d, demand, date, wm_yr_wk, weekday, month, event_name_1, event_type_1, year, event_name_2, event_type_2, snap_CA, snap_TX, snap_WI, start_date, days_from_start, start_date_from_start, sell_price]
Index: []

In [0]:
data_folder = '/content/drive/My Drive/Kaggle_M5/01_preprocessed_data/'
X.to_pickle(data_folder + 'X.pkl')