In [3]:
import pandas as pd
import numpy as np
from datetime  import datetime  
from datetime import timedelta  
import lightgbm as lgb
from sklearn import preprocessing, metrics
from sklearn.model_selection import ParameterGrid
import matplotlib.pyplot as plt
import seaborn as sns
import mlflow
import mlflow.lightgbm

In [4]:
X_train = pd.read_pickle('../01_preprocessed_data/X_1_train.pkl')
y_train = pd.read_pickle('../01_preprocessed_data/y_1_train.pkl')
X_val = pd.read_pickle('../01_preprocessed_data/X_1_val.pkl')
y_val = pd.read_pickle('../01_preprocessed_data/y_1_val.pkl')
X_test = pd.read_pickle('../01_preprocessed_data/X_1_test.pkl')

In [5]:
data_location = '../00_data/sample_submission.csv'
submission = pd.read_csv(data_location)

In [6]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)
print(y_train.shape)
print(y_val.shape)

(37915775, 73)
(853632, 73)
(853720, 73)
(37915775, 1)
(853632, 1)

In [7]:
params = {
        'boosting_type': 'gbdt',
        'metric': 'rmse',
        'objective':  'poisson',
        'n_jobs': -1,
        'seed': 0,
        'learning_rate': 0.1, 
        'bagging_fraction': 0.75,
        'bagging_freq': 10, 
        'colsample_bytree': 0.75,
        'num_iterations': 1000,
        'early_stopping_round': 100}

In [8]:
data_location = '../04_submissions/lightGBM_no_fe(7)(1).csv'
best_submission_original = pd.read_csv(data_location)
best_submission = pd.read_csv(data_location)

In [9]:
evaluation_rows = [row for row in submission['id'] if 'evaluation' in row] 
evaluation = submission[submission['id'].isin(evaluation_rows)]

In [28]:
X_train.loc[:, ['date', 'demand']]

               date  demand
6561905  2012-03-24       0
6561906  2012-03-24       4
6561907  2012-03-24       0
6561908  2012-03-24       9
6561909  2012-03-24       2
...             ...     ...
45174232 2016-03-27       0
45174233 2016-03-27       0
45174234 2016-03-27       1
45174235 2016-03-27       4
45174236 2016-03-27       5

[37915775 rows x 2 columns]

In [19]:
X_train.loc[X_train['date'] > '2015-01-01', features_for_run]

,item_id,dept_id,cat_id,store_id,state_id,weekday,month,year,event_name_1,snap_CA,...,max_demand,quantile025_week,max_weekday_demand,lag_28,lag_35,lag_1,lag_2,rmean_1_7,rmean_2_7,rmean_2_28
31521782,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,Friday,1,2015,no event,1,...,5,0.0,3,1.0,0.0,0.0,0.0,1.285714,1.285714,0.821429
31521783,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,Friday,1,2015,no event,1,...,5,0.0,4,0.0,0.0,0.0,0.0,0.142857,0.142857,0.678571
31521784,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,Friday,1,2015,no event,1,...,6,0.0,4,0.0,0.0,0.0,0.0,0.142857,0.142857,0.071429
31521785,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,Friday,1,2015,no event,1,...,15,0.0,15,8.0,3.0,2.0,0.0,2.428571,2.142857,2.464286
31521786,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,Friday,1,2015,no event,1,...,9,0.0,8,0.0,0.0,3.0,0.0,1.000000,0.571429,1.535714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45174232,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,Sunday,3,2016,Easter,0,...,12,0.0,7,1.0,0.0,0.0,0.0,0.000000,0.000000,0.285714
45174233,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,Sunday,3,2016,Easter,0,...,12,0.0,6,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
45174234,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,Sunday,3,2016,Easter,0,...,20,0.0,8,0.0,0.0,0.0,2.0,0.571429,0.571429,1.285714
45174235,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,Sunday,3,2016,Easter,0,...,12,0.0,5,0.0,0.0,2.0,1.0,1.142857,1.000000,1.035714
45174236,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,Sunday,3,2016,Easter,0,...,12,0.0,11,0.0,2.0,0.0,2.0,2.285714,2.428571,1.928571

In [29]:
features = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 
            'weekday', 'month', 'year',
            'event_name_1',  
            'snap_CA', 'snap_TX', 'snap_WI',
            'days_from_start', 'sell_price', 'avg_price', 
            'ADI', 'CV2', 'demand_type',
           'avg_weekday_demand', 'avg_demand', 'max_demand', 'quantile025_week', 'max_weekday_demand',  
            'lag_28', 'lag_35']
for i in range(1, 7):
    print(i)
    features_for_run = features + ["lag_{}".format(i)] + ["lag_{}".format(i+1)] + ['rmean_{}_7'.format(i)] + \
    ['rmean_{}_7'.format(i+1)] + ['rmean_{}_28'.format(i+1)]
    train_set = lgb.Dataset(X_train.loc[X_train['date'] > '2014-01-01', features_for_run],
                            X_train.loc[X_train['date'] > '2014-01-01', 'demand'])
    val_set = lgb.Dataset(X_val[features_for_run], y_val)
    model = lgb.train(params, train_set, valid_sets = [train_set, val_set], verbose_eval = 100)
    y_test = model.predict(X_test[features_for_run])
    X_test['demand'] = y_test
    predictions = X_test[['id', 'days_from_start', 'demand']]
    predictions = pd.pivot(predictions, index = 'id', columns = 'days_from_start', values = 'demand').reset_index()
    predictions.columns = ['id'] + ['F' + str(j + 1) for j in range(28)]
    validation = submission[['id']].merge(predictions, on = 'id')

    final = pd.concat([validation, evaluation])
    final.to_csv('../04_submissions/final-{}.csv'.format(i), index = False)
    best_submission['F{}'.format(i)] = final['F{}'.format(i)]

1

C:\Users\omore\Anaconda3\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\omore\Anaconda3\lib\site-packages\lightgbm\engine.py:153: UserWarning: Found `early_stopping_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.08335	valid_1's rmse: 1.95566
[200]	training's rmse: 2.0342	valid_1's rmse: 1.9314
[300]	training's rmse: 2.00431	valid_1's rmse: 1.92493
[400]	training's rmse: 1.98485	valid_1's rmse: 1.91938
[500]	training's rmse: 1.96955	valid_1's rmse: 1.9132
[600]	training's rmse: 1.95956	valid_1's rmse: 1.91853
Early stopping, best iteration is:
[504]	training's rmse: 1.96909	valid_1's rmse: 1.91305
2
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.14297	valid_1's rmse: 1.99449
[200]	training's rmse: 2.09458	valid_1's rmse: 1.97922
[300]	training's rmse: 2.06149	valid_1's rmse: 1.98669
Early stopping, best iteration is:
[228]	training's rmse: 2.08192	valid_1's rmse: 1.97258
3
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.17904	valid_1's rmse: 2.01613
[200]	training's rmse: 2.12852	valid_1's rmse: 2.00423
Early stopping, best iteration is:
[188]	training's rmse: 2.13081	valid_1's rmse: 1.99363
4
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.20962	valid_1's rmse: 2.02585
[200]	training's rmse: 2.15533	valid_1's rmse: 2.00546
Early stopping, best iteration is:
[184]	training's rmse: 2.16126	valid_1's rmse: 1.99581
5
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.22039	valid_1's rmse: 2.04672
[200]	training's rmse: 2.16737	valid_1's rmse: 2.02329
[300]	training's rmse: 2.13347	valid_1's rmse: 2.04246
Early stopping, best iteration is:
[221]	training's rmse: 2.15668	valid_1's rmse: 2.01807
6
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 2.25006	valid_1's rmse: 2.06018
[200]	training's rmse: 2.18438	valid_1's rmse: 2.02245
[300]	training's rmse: 2.14661	valid_1's rmse: 2.03519
Early stopping, best iteration is:
[221]	training's rmse: 2.17265	valid_1's rmse: 2.01658

In [30]:
best_submission.to_csv('../04_submissions/best_submission_day1-{}_shortTrain.csv'.format(i), index = False)

In [31]:
with open("../04_submissions/best_submission_day1-{}.txt".format(i), "a") as outfile:
    outfile.write("\n".join(features))
    outfile.write("\n")
    outfile.write(str(params) )
    outfile.write("\n")
    #outfile.write(str(val_score))
    #outfile.write("\n")

In [32]:
best_submission

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.770479,0.834890,0.684261,0.677203,0.783879,1.104258,0.784741,0.627486,0.829775,...,0.760455,1.134839,0.876863,0.700792,0.815112,0.651631,0.704088,0.792928,1.097865,0.919557
1,HOBBIES_1_002_CA_1_validation,0.193541,0.211903,0.219722,0.242832,0.247481,0.309530,0.322525,0.215571,0.211554,...,0.239353,0.291788,0.256860,0.200209,0.200803,0.244193,0.262186,0.258445,0.300680,0.251065
2,HOBBIES_1_003_CA_1_validation,0.358107,0.385621,0.391259,0.421696,0.525590,0.715218,0.402507,0.284215,0.281201,...,0.486520,0.678717,0.540049,0.358268,0.394559,0.407442,0.438904,0.571763,0.769862,0.570577
3,HOBBIES_1_004_CA_1_validation,1.724521,1.569541,1.502610,1.751271,1.890542,2.754699,2.619361,1.518420,1.440420,...,1.817733,2.580106,3.303732,1.679753,1.462693,1.337445,1.533004,1.828385,3.319230,3.125820
4,HOBBIES_1_005_CA_1_validation,1.029736,0.995313,1.037863,1.052841,1.197657,1.664107,1.795428,1.198076,1.125775,...,1.202205,1.633978,1.603810,0.926597,0.876263,0.962685,1.002377,1.150917,1.692727,1.794715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60976,FOODS_3_824_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60977,FOODS_3_825_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60978,FOODS_3_826_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60979,FOODS_3_827_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [33]:
best_submission_original

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.743167,0.788587,0.603166,0.589312,0.677044,0.934324,0.784741,0.627486,0.829775,...,0.760455,1.134839,0.876863,0.700792,0.815112,0.651631,0.704088,0.792928,1.097865,0.919557
1,HOBBIES_1_002_CA_1_validation,0.277563,0.273770,0.285215,0.317084,0.329458,0.412253,0.322525,0.215571,0.211554,...,0.239353,0.291788,0.256860,0.200209,0.200803,0.244193,0.262186,0.258445,0.300680,0.251065
2,HOBBIES_1_003_CA_1_validation,0.337710,0.355305,0.355305,0.383095,0.462695,0.434058,0.402507,0.284215,0.281201,...,0.486520,0.678717,0.540049,0.358268,0.394559,0.407442,0.438904,0.571763,0.769862,0.570577
3,HOBBIES_1_004_CA_1_validation,1.827081,1.516057,1.432371,1.582973,1.789368,2.636563,2.619361,1.518420,1.440420,...,1.817733,2.580106,3.303732,1.679753,1.462693,1.337445,1.533004,1.828385,3.319230,3.125820
4,HOBBIES_1_005_CA_1_validation,0.931623,0.815221,0.994971,1.123708,1.195732,1.632217,1.795428,1.198076,1.125775,...,1.202205,1.633978,1.603810,0.926597,0.876263,0.962685,1.002377,1.150917,1.692727,1.794715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60976,FOODS_3_824_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60977,FOODS_3_825_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60978,FOODS_3_826_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60979,FOODS_3_827_WI_3_evaluation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [26]:
val_pred = model.predict(X_val[features_for_run])
val_score = np.sqrt(metrics.mean_squared_error(val_pred, y_val))
X_val['demand'] = y_val
X_val['demand_pred'] = val_pred
X_val['abs_difference'] = abs(X_val['demand'] - X_val['demand_pred'])
print(f'Our val rmse score is {val_score}')

Our val rmse score is 2.035719370982445

In [ ]:
X_val.groupby(['demand_type'])['demand_type', 'abs_difference'].agg(['mean']).reset_index()

In [ ]:
X_val[X_val['demand_type'] == 'smooth'].sort_values(by = 'abs_difference')

In [ ]:
X_val.to_pickle("../01_preprocessed_data/X_val_pred_lgbm.pkl")